@page
@model MyTestWeb.Pages.MongoDb.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Mongo Db Home</h1>
    
    <h5>FindOne API Call Results</h5>
    <div>ID: @Html.DisplayTextFor(model => model.FindOneModel.Id)</div>
    <div>LoginId: @Html.DisplayTextFor(model => model.FindOneModel.LoginId)</div>
    <div>PasswordId: @Html.DisplayTextFor(model => model.FindOneModel.PasswordId)</div>
    <p>&nbsp;</p>
    <h5>Find API Call Results</h5>
    @foreach (var item in Model.FindModel)
    {
        <div>ID: @Html.DisplayTextFor(modelItem => item.Id)</div>
        <div>LoginId: @Html.DisplayTextFor(modelItem => item.LoginId)</div>
        <div>PasswordId: @Html.DisplayTextFor(modelItem => item.PasswordId)</div>
    }
</div>
